.empty-list {
  min-height: 100px;
  text-align: center;
}

.empty-list .empty-message {
  display: inline-block;
  color: #555;
  line-height: 100px;
}

.new-artist {
  width: 82%;
}

.new-artist-button {
  float: right;
  padding: 3px 10px;
}

.new-song {
  width: 50%;
}

.new-song-button {
  margin-left: 20px;
}

.rating-star {
  float: right;
  margin-left: 3px;
}
